apiVersion: apps/v1 
kind: Deployment 
metadata:
  annotations:
    kubernetes.io/change-cause: "Change nginx image to 1.14.2"
  name: nginx-deployment
spec:
  replicas: 3 
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx-container
        image: {{ .Values.nginxImage }}
        ports:
        - containerPort: 80
